FRUIT_ANALYSIS_DB_HOST=120.48.117.234
FRUIT_ANALYSIS_DB_PORT=13306
FRUIT_ANALYSIS_DB_USER=root
FRUIT_ANALYSIS_DB_PASSWORD=change-me
FRUIT_ANALYSIS_DB_NAME=fruits_ana
FRUIT_ADMIN_SESSION_COOKIE=fruit_session
FRUIT_ADMIN_COOKIE_SECURE=false
